.product-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  grid-auto-rows: minmax(100px, auto);
}

.empty-product-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.empty-product-list-text {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}

.empty-product-list-oops{
  font-size: 2rem;
}

.loader-main {
  margin: 1rem;
  border: 8px solid #202030;
  border-radius: 50%;
  border-top: 8px solid beige;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/*
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #101010;
  border-color: #ffffff transparent #050404 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
