.product-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  grid-auto-rows: minmax(100px, auto);
}

.empty-product-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.empty-product-list-text {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}

.empty-product-list-oops{
  font-size: 2rem;
}